/* planetÎÄÕÂÄÚÈİÉ«*/

.planetitemText {
	line-height: 1.2em;
	text-align: justify;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background: #000000 url('../images/planetback.gif') bottom right no-repeat;
}